.title {
  line-height: var(--mantine-line-height-sm);
  font-size: var(--mantine-font-size-md);

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-lg);
  }
}

.image {
  width: auto;
  max-width: 100%;
  max-height: rem(250px);
  border: thin solid var(--mantine-color-default-border);
}
