.section {
  position: relative;
  padding: var(--mantine-spacing-md);
  background: var(--mantine-color-body);
}

.container {
  max-width: rem(900px);
  margin: 0 auto;
}

.title {
  color: var(--mantine-color-violet-light-color);
  font-weight: 700;
  line-height: 1.4;
  z-index: 1;
  white-space: nowrap;
  margin-block: var(--mantine-spacing-xl);
  text-align: center;
  text-shadow: 0 0 0.03em rgb(0, 0, 0);

  /* responsive */
  font-size: rem(48px);

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: rem(60px);
  }
}

.innerContainer {
  display: grid;
  gap: var(--mantine-spacing-md);
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}